{# templates/emails/registration.html.twig #}
<h3>Avertissement</h3>

<p>
Attention {{ name }}, tu as été signalé pour avoir eu un comportement qui ne respecte pas nos conditions d’utilisation. Tu risques d’être bannis de façon définitive ! Ce serait dommage d’en arriver là, n’oublis pas que nos équipes de communications sont à l’écoutes pour n’importe quel problème rencontré au sein de ton expérience.
</p>

<p>L’équipe DysPlay.</p>
