{# templates/emails/registration.html.twig #}
<h3>Bannissement</h3>

<p>
    {{ name }}, Nous sommes désolés de devoir t’apprendre cette nouvelle mais tu as atteint le nombre maximum d’avertissement cautionnés par nos conditions d’utilisations. Ton compte est désormais banni de façon définitive. Nous espérons malgré tout que ton expérience de Battle of Yggdrasil t’aura plus.
</p>
<p>
L’équipe DysPlay.
</p>

