<h3>Le joueur {{ pseudo }} vous a invité à jouer !</h3>

<p>Bonjour {{ name }}, ton ami {{ pseudo }} t’a envoyé une invitation de jeu pour combattre contre toi. Accepte ce défi pour comparer lequel de vous deux dirige le mieux ses Vikings !
Connecte toi pour vite le rejoindre !
</p>
<p>
L’équipe DysPlay.
</p>