{# templates/emails/registration.html.twig #}
<h3>Bravo, vous êtes incrit !</h3>

<p>
{{ name }}, bienvenue à toi fidèle guerrier Viking. L’aventure à travers l’Arbre Monde n’attend plus que toi ! Choisis ton camp parmi le Royaume de Midgard ou bien celui de Helheim et pars à la conquête du Royaume adverse aux côtés de puissants guerriers Vikings aussi bien alliés que ennemis.
L’équipe DysPlay te remercie pour ta confiance, ton accès au jeu promotion de Battle of Yggdrasil est désormais ouvert au lien suivant, tu peux aussi visiter le site à ta guise pour plus de contenu et information.
</p>

<p><a href="{{ url('app_login') }}">Pour acceder au jeu, clique ici !</a></p>

<p>L’équipe DysPlay.</p>

